
/* url("<link rel="preconnect" href="https://fonts.gstatic.com">")
url("<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">") */

body {
    background-color: mediumpurple;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 10%;
    font-family: 'Noto Sans JP', sans-serif;
   
}

.main_div{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
  


}
.center_div{
  border-radius: 15px;
  
  
}

h1{
 background-color: deepskyblue;
 color: white;
 
}



input{
  width: 55%;
  height: 30px;
  font-size: 20px;
  outline: none;
  border: white;
  border-bottom: 2px solid #8566aa;
  
}

li{
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  text-align: left;
  mask-type: alpha;
  align-items: center;



}

button{
  color: green;
}

.todo_style{
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}


